.container{
    font-size: 12px;
    background-color: aqua;
    width: 500px;
    height: 300px;
}
.row{
    margin: 10px 44px;
    padding: 5px;
    width: 400px;
    height: 200px;
    background-color: blue;
}
.colum{
    background-color: blueviolet;
    margin: 10px 40px;
    padding: 5px;
    width: 300px;
    height: 100px;
}